@model GlxyWeb.Models.AlarmModel

@{
    ViewData["Title"] = "Create Alarm1";
}

<h2>@ViewData["Title"]</h2>


<form method="post" action="/Home/CreateAlarm">
    <div class="form-group">
        <label for="alarmTarihi">Date</label>
        <input type="date" class="form-control" id="Repeat" name="Repeat" required>
    </div>
    <div class="form-group">
        <label for="alarmSaati">Hour</label>
        <input type="time" class="form-control" id="Hour" name="Hour" required>
    </div>
    <div class="form-group">
        <label for="alarmAdi">Alarm Name</label>
        <input type="text" class="form-control" id="Alarm_name" name="Alarm_name" required>
    </div>
    <div class="form-group">
        <label for="alarmMesaji">Alarm Message</label>
        <textarea class="form-control" id="Message" name="Message" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Alarm</button>
</form>